.heading{
    font-size:30px ;
    width:100%;
    margin:0px;
    box-shadow: 5px 5px 5px rgb(144, 218, 8);
}


.heading_div{
    background: rgb(68, 231, 141);
    border-radius: 25px;
    color: black;
    font-size: 25px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(7, 216, 87); 
    float:none;
}

.result_para_tag{
    margin-top: 0px;
    box-shadow:5px 5px 5px rgb(101, 230, 140);
    font-size:20px;
}

canvas{
    border:5px dashed rgb(20, 247, 115) ;
    margin-top:335px;
    box-shadow:15px 15px 15px rgb(90, 202, 15) ;
}